body{
    background-image: url(./images/dracula-untold-vampire-4k-4dqfz169bob4zq24.jpg);
    background-size:cover ;
}
header{
background-color: black;
}
#logo {
 margin-left: 9%;
}
.navigation{
float:right ;
margin-top: 20px;
    margin-top: 26px;
}
.navigation a{
    font-family: 'Times New Roman', Times, serif;
color: rgb(188, 32, 32);
text-decoration: none;
border: 2px solid white;
padding: 3px;
margin: 5px;
}
.navigation a:hover{
    background-color:rgb(13, 1, 1);
    color:blanchedalmond;
}
.side{
    /* border: 2px solid rgb(230, 0, 255); */
    color:white;
    margin: 80px;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
}
.side h3 {
    margin-bottom: 10px;
}
.side li{
list-style: square;
padding: 2px;
}
.login{
border: 1px solid aqua;
float: right;
background-color: beige;
margin-top: 60px;
margin-right: 20px;
height: 17em;
}
#btn{
    background-color: dodgerblue;
    width: 100%;
    color: white;
    border: none;
    height: 1.5;

}
.login h2{
    text-align: center;
}